body{
    /* background-color: rgb(39, 65, 95);
    color: #fff; */
}
.page-footer{
    /* background-color:#1a252f; */
    background-color: #2c3e50!important;

    color: #fff;
    font-size: 80%;
 }
 .container{
     margin-top: 100px;
 }
 #image{
     width: 100%;
 }